/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

body{
  /* background-color: #222222; */
  font-family: sans-serif;
  color: white;
}
/* main */
main{
  background-color: black;
  height: calc(100vh - 100px);
  overflow: auto;
}

.container{
  height: 100vh;
  width: 98%;
  max-width: 1800px;
  margin: 80px auto;
}



.row{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.col{
  width: calc(100% / 7);
  padding: 0 5px;
  
}

.col .utente{
  position: relative;
}

.col .nome{
  background-color: rgba(0, 0, 0, .3);
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 7px 10px;
}


/* /main */

/* footer */
footer{
  background-color: #222222;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-right,
.footer-center,
.footer-left{
  height: 100%;
}

.footer-center,
.footer-left{
  display: flex;

}

footer .icon{
  height: 100%;
  padding: 13px 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

footer .icon i{
  font-size: 1.7rem;
}

footer .icon i.fa-angle-up{
  font-size: 1rem;
}

footer .icon:hover i,
footer .icon.active i{
  color: green;
}

.footer-right button{
  height: 100%;
  padding: 15px;
  background-color: #4A4A4A;
  color: red;
  border: 0;
  cursor: pointer;
}

/* /footer */